.header{
    background-color: rgb(81, 42, 119);
    padding: 5%;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 600px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

h2{
    text-align: center;
}

.footer{
    background-color: rgb(81, 42, 119);
    padding: 1%;
    text-align: center;
}